/* include stylesheet for truYum */
.material-icons.md-36 {
	font-size: 35px;
	line-height: 1.5;
	vertical-align: middle;
}

.material-icons.other_icon {
	line-height: 1.75;
	vertical-align: middle;
}

.navbar_top {
	/* background-image:linear-gradient(to right, #6054a5,#362e63,#0b0531 ); */
	background-color: blue;
	height: 55px;
}

.navbar_bottom { 
	background-color: blue;
	position: absolute;
	font-size:20px;
	height: 55px;
	width: 100%;
	bottom: 0;
}

.spinner {
	border: 16px solid silver;
	border-top: 16px solid rgb(183, 51, 58);
	border-radius: 60%;
	width: 80px;
	height: 80px;
	animation: spin 700ms linear infinite;
	top:50%;
	left:50%;
	position: absolute;
  }
  @keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
  }

a:hover { 
    text-decoration: none; 
} 

  
