<div class="row pb-5 px-0 py-0 mx-0">
    <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">

        <div class="card mt-5 shadow" *ngIf="!newUserAdded">

            <div class="alert-success col-12 px-auto py-3" *ngIf="userAdded">
                User added Sucessfully!!
            </div>
            <div class="alert-success col-12 px-auto py-3" *ngIf="mentorAdded">
                Mentor added Sucessfully!!
            </div>

            <div class="alert-danger col-12 px-auto py-5" *ngIf="signupErrorMessage">
                UserName already exists!!
            </div>
        </div>


        <div class="card mt-5 shadow" *ngIf="newUserAdded">
            <form [formGroup]="signUpForm" (submit)="addUser(signUpForm.value)">
                <div class="row mt-1 ml-5 mr-5">

                    <div class="col-md-6 col-xs-12  mt-5">
                        <label for="email">User Email</label>
                        <input type="text" class="form-control" placeholder="Enter your email" formControlName="email"
                            id="email" [class.is-invalid]="email.invalid && email.touched">
                        <div *ngIf="email.errors">
                            <small class="text text-danger" *ngIf="email.errors.required && email.touched">User
                                Email Id is required</small>
                        </div>

                        <div class="validation-error text-danger"
                            *ngIf="signUpForm.get('email').touched && signUpForm.get('email').hasError('pattern')">
                            Email Format should be followed
                        </div>

                    </div>

                </div>
                <div class="row ml-5 mr-5">
                    <div class="col-md-6 col-xs-12 mt-5">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name"
                            formControlName="username" id="username"
                            [class.is-invalid]="username.invalid && username.touched">
                        <div *ngIf="username.errors">
                            <small class="text text-danger"
                                *ngIf="username.errors.required && username.touched">username is required</small>
                            <small class="text text-danger" *ngIf="username.errors.maxlength">username too
                                long</small>
                        </div>
                        <div class="validation-error text-danger"
                            *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('pattern')">
                            First name should not contain digits.
                        </div>

                    </div>
                </div>
                <div class="row ml-5 mr-5">
                    <div class="col-md-6 col-xs-12 mt-5">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password"
                            formControlName="password" id="password"
                            [class.is-invalid]="password.invalid && password.touched">
                        <div *ngIf="password.errors">
                            <small class="text text-danger"
                                *ngIf="password.errors.required && password.touched">Password is required</small>
                            <small class="text text-danger" *ngIf="password.errors.maxlength">Password too long</small>
                        </div>

                    </div>
                    <div class="col-md-6 col-xs-12 mt-5">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password"
                            formControlName="confirmPassword" id="confirmPassword"
                            [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched">
                        <div class="text-danger"
                            *ngIf="confirmPassword.invalid && confirmPassword.errors.required && confirmPassword.touched">
                            Confirm the Password</div>
                        <div class="text-danger" *ngIf="signUpForm.get('confirmPassword').hasError('nomatch')">Password
                            and Confirm Password do not match</div>
                    </div>
                </div>
                <div class="row ml-5 mr-5">
                    <div class="col-md-6 col-xs-12 mt-5">
                        <label for="address">address</label>
                        <input type="text" class="form-control" placeholder="Enter address" formControlName="address"
                            id="address" [class.is-invalid]="address.invalid && address.touched">
                        <div *ngIf="address.errors">
                            <small class="text text-danger" *ngIf="address.errors.required && address.touched">address
                                is required</small>

                        </div>


                    </div>
                </div>


                <div class="row mt-5 ml-5 mr-5 mb-5">
                    <div class="col-12">
                        <button type="submit" class="btn buttonColor text-light">Signup</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>